@font-face {
	font-family: 'Linux-Libertine';
	src:url('Linux-Libertine.ttf.woff') format('woff'),
		url('Linux-Libertine.ttf.svg#Linux-Libertine') format('svg'),
		url('Linux-Libertine.ttf.eot'),
		url('Linux-Libertine.ttf.eot?#iefix') format('embedded-opentype'); 
	font-weight: normal;
	font-style: normal;
}
